* {
    text-align: center;
    color: whitesmoke;
    background-color: black;
}

#dice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.dice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

img {
    width: 70px;
}

.dice button {
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-color: blueviolet;
    color: whitesmoke;
    flex: 1;
}

.dice span {
    border: 1px solid blueviolet;
    flex: 1;
    width: 40px;
    height: 40px;
    font-weight: 700;
    font-size: 1.4em;
    color: blueviolet;
}

#result {
    display: flex;
    flex-direction: column-reverse;
}

#result :last-child {
    border: 2px outset blueviolet;
    width: 200px;
    align-self: center;
    padding: 5px;
}